<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Peeps</title>
</head>
<body>

	{{.}}
	{{. | sqRoot}}
	{{. | sqRoot | double}}
	{{. | sqRoot | double | square}}

</body>
</html>
